.right-nav-menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background: #002858;
  box-shadow: 0 0 11px 13px rgba(0, 16, 35, 0.8117647058823529);
  color: #fff;
  padding: 20px 50px;
  z-index: 3;
}

.nav-content {
  .nav-item a {
    color: #ffffff;
  }
}

