* {
  font-family: "Microsoft YaHei", sans-serif;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0; }

a, a:hover {
  color: #000;
  text-decoration: none; }

ul {
  list-style-type: none;
  display: inherit;
  width: inherit;
  justify-content: inherit; }

li {
  list-style: none; }

textarea {
  resize: none; }

h1 {
  margin: 0; }

h2 {
  margin: 0; }

h3 {
  margin: 0; }

h4 {
  margin: 0; }

h5 {
  margin: 0; }

h6 {
  margin: 0; }

p {
  margin: 0; }

input, textarea {
  border-style: solid; }

.section {
  padding: 60px 15px; }

.-fixed {
  position: fixed; }

.btn {
  background-color: #faa552; }

.right-nav-menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background: #002858;
  box-shadow: 0 0 11px 13px #002858cf;
  color: #fff;
  padding: 20px 50px;
  z-index: 3; }

.nav-content .nav-item a {
  color: #ffffff; }

.main-header {
  padding: 80px 15px; }
  .main-header .contacts-top {
    width: 100%;
    background-color: #002858;
    top: 0;
    left: 0;
    right: 0;
    color: #fff; }
